/*----------
  CUSTOMS
----------*/
body{
    font-family: Arial, Helvetica, sans-serif;
}

.border-img{
    border-radius: 20px;
}

/* containers */
.container_custom{
    max-width: 540px;
    margin: auto;
}

/* buttons */
.btn_custom{
    border: none;
    padding: 8px 20px;
    color: inherit;  
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;  
}

.btn_orange{
    background-color: #CD3D0F;
    border: 2px solid transparent;
}

.btn_blue{
    background-color: #2D64E6;
    color: #fff;
    border: 2px solid #fff;
}

.btn_gray_blue{
    background-color: #D9DADC;
    color: #2D64E6;
    border: 2px solid #BEBCBB;
}

.btn_gray_black{
    background-color: #D9DADC;
    color: #000;
    border: 2px solid #161C3B;
}

.btn-dark{
    border: 2px solid #fff;
}

/* text-color */
.text_blue{
    color: #0072CE;
}

.text_gray{
    color: #727272;
}

/*----------
    HEADER
----------*/
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.header-top{
    background-color: #000;
}

.sony-logo{
    height: 15px;
}

.chevron-nav{
    height: 10px;
}

.header-lens{
    height: 25px;
}

.chevron-hover-block{
    display: none;
}

main{
    margin-top: 97px;
}

/*----------
    HERO
----------*/
.hero-top{
    background-image: url("../img/jumbo-bg.png");
    background-position: top;
    background-size: cover;
}

.hero-img{
    height: 50px;
}

.hero-top{
    padding-top: 250px;
    padding-bottom: 50px;
}

.border-active{
    border: 2px solid #0072ce;
    padding: 2px;
}

.translate-y{
    transition: all 0.4s ease-in-out;
}

/*-------------
   ACCESSORIES
-------------*/
.product-container{
    border-bottom: 2px solid transparent;
}

.img-filter{
    opacity: 50%;;
}

.border-bottom-active{
    border-bottom: 2px solid #0072ce;
}

/*-------------
  GAME PREVIEW
-------------*/
.game-preview{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-position: top;
    background-size: cover;
}

.game-preview-img{
    height: 200px;
}

/*-------------
  NEW RELEASES
-------------*/
.new-releases{
    background-color: #1f1f1f;
}

.new-releases h4{
    font-size: 25px;
}

/*-------------
   PS PLUS
-------------*/
.ps-plus{
    background-color: #BEBCBB;
}

.ps-plus-logo{
    width: 60%;
}

/*-------------
  PS NOW
-------------*/
.ps-now{
    background-color: #161C3B;
}

/*-------------
  FOOTER
-------------*/
footer{
    background-color: #00439c;
    font-size: 14px;
}

.footer-ps-logo{
    width: 100px;
}

.globe-icon{
    height: 20px;
}

footer ul{
    list-style: none;
}

footer li a{
    text-decoration: none;
    color: inherit;
}

footer a:hover{
    color: inherit;
}

.sie-logo{
    height: 50px;
}


/*---------------
  HOVER EFFECTS
---------------*/
.product-container:hover{
    border-bottom: 2px solid #0072ce;
}

.nav-link:hover .chevron-hover-none{
    display: none;
}

.nav-link:hover .chevron-hover-block{
    display: block;
}

.btn_orange:hover{
    box-shadow: 0 0 0 2px #CD3D0F;
    border: 2px solid black;
}

.btn-dark:hover{
    box-shadow: 0 0 0 2px #1C1F23;
    border: 2px solid #fff;
}

.btn_blue:hover{
    box-shadow: 0 0 0 2px #2D64E6;
    border: 2px solid white;
}

.btn_gray_blue:hover, .btn_gray_black:hover{
    box-shadow: 0 0 0 2px #D9DADC;
}

.translate-y:hover{
    transform: translateY(-10px);
}

.product-container:hover{
    opacity: 100%;
}