/*----------
    HEADER
----------*/
header{
    height: 150px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.header-top{
    background-color: #000;
}

.sony-logo{
    height: 15px;
}

.chevron-nav{
    height: 10px;
}